.conteudo {
	-fx-background-color: #000000;
	-fx-font-family: "Oswald";
}

.titulo {
	-fx-text-fill: #cc0000;
	-fx-font-size: 50px;
}

.numero {
	-fx-text-fill: #d3d7cf;
	-fx-font-size: 100px;
}

.botoes {
	-fx-background-color: #cc0000;
	-fx-text-fill: #d3d7cf;
	-fx-font-size: 28px;
	-fx-min-width: 60px;
	-fx-min-heigth: 60px;
	-fx-background-radius: 30px;
}

.verde {
	-fx-text-fill: #008000;
}

.vermelho {
	-fx-text-fill: #cc0000;
}